<!-- <nav class="navbar collapse navbar-collapse">
  <h4 class="navbar-brand">Dog Sitter</h4>
  <a class="nav-tab" href="/dashboard">Dashboard</a>
  <a class="nav-tab" href="/reservations">Reservations</a>
  <a class="nav-tab" href="/profiles">Profiles</a>
</nav> -->

<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-0" style="background-color: white !important">
  <a class="navbar-brand" href="/">
    <i style="color: brown" class="fas fa-dog fa-lg"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav text-center">
      <a class="nav-item nav-link " href="/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/reservations">Reservations</a>
      <a class="nav-item nav-link" href="/profiles">Sitters</a>
      <a class="nav-item nav-link" href="auth/logout">Logout</a>
    </div>
  </div>
</nav>
