<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container-fluid">
  {{>navbar}}
  <header class="row hero-sitters">
    <div class="headline ml-5">
      <h1 class="display-1">Our Sitters</h1>
      <h5></h5>
    </div>
  </header>
  <section id="dashboard-copy" class="row mt-5 ">
    <div class="col-lg-4 ">
      <div class="profile-welcome">
        <h2> Dog Sitters</h2>
        <p>View all our amazing dog sitters</p>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card ">
        <h3 class="card-header">
          Sitters
        </h3>
        <ul id="reservations">
          {{#profiles}}
            <li class="reservation">
              <img src="{{image}}=s50-c" alt="">
              <h2>{{firstName}}</h2>
              <h4>  {{formatted}}</h4>
              <a href="/profile/{{id}}" class="">View Profile</a>
            </li>
          {{/profiles}}
        </ul>
      </div>

  </section>
{{>spacer}}
  {{>footer}}

  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript">
    function acceptReservation(id, sitter) {
      $.ajax({
        url: '/api/reservations/' + id,
        type: 'PUT',
        data: {
          'sitter': sitter
        },
        success: function(result) {
          console.log(result)
        }
      });
    }
  </script>
</body>

</html>
